@import 'simplelightbox/dist/simple-lightbox.min.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
    margin: 0;
    
}

body {
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 24px;
    max-width: 1200px;
    border: 2px solid gray;
    border-radius: 10px;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    overflow: hidden; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
  cursor: pointer;
}

.gallery-link {
    display: block;
}

.gallery-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    
}